# =========================
# 🔹 Binaries
# =========================
main
*.exe
*.exe~
*.dll
*.so
*.dylib

# =========================
# 🔹 Go
# =========================
bin/
pkg/
*.test
*.out
coverage.out

# =========================
# 🔹 Logs
# =========================
*.log

# =========================
# 🔹 OS
# =========================
.DS_Store
Thumbs.db

# =========================
# 🔹 Env files (IMPORTANTE)
# =========================
.env
.env.*
!.env.example

# =========================
# 🔹 IDEs
# =========================
.vscode/
.idea/